{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>eTouch - Virtusa</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/lib/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="{% static "css/helper.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<style>
.page-titles {
    background: #00867b !important;
}
.text-primary {
    color: #FFFFFF !important;
}
</style>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="JavaScript:">
                        <!-- Logo icon -->
                    <!--<img src="{% static "images/etouch-logo.png" %}" alt="homepage" class="dark-logo" />-->
                    <span><img src="{% static "images/etouch-logo.png" %}" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->

                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->

                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>

                        <li><a class="" href="{% url 'dashboard' %}" aria-expanded="false"><i class="fa fa-list"></i><span class="hide-menu">Orders</span></a></li>
                        <li><a class="" href="{% url 'logout' %}" aria-expanded="false"><i class="fa fa-sign-out"></i><span class="hide-menu">Logout </span></a></li>




                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>

            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Recent Orders </h4>
                                <div class="card-header" style="float: right;background: #00867b !important;border-radius: 20px;">
                                <h4 class="m-b-0 text-white"><a href="{% url 'createorder' %}" style="color: white;">Create</a></h4>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>SNo</th>
                                                <th>SRNo</th>
                                                <th>Device Name</th>
                                                <th>Requested Date</th>
                                                <th>Status</th>
						<th>Action</th>
                                            </tr>
                                        </thead>
<tbody>
{% for entry in orders %}
<tr>
<td>{{ entry.id }}</td>
<td>{{ entry.srno }}</td>
<td><span>{{ entry.device_name }}</span></td>
<td><span>{{ entry.requested_date }}</span></td>
<td>{{ entry.status }}</td>
<td><button type="button" class="btn btn-info btn-xs m-b-10 m-l-5">View</button></td>
</tr>
{% endfor %}
</tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->

        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static "js/lib/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "js/lib/bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "js/jquery.slimscroll.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}"></script>
    <!--stickey kit -->
    <script src="{% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>
    <!--Custom JavaScript -->

    <!-- scripit init-->

    <script src="{% static "js/custom.min.js" %}"></script>


    <script src="{% static "js/lib/datamap/d3.min.js" %}"></script>
    <script src="{% static "js/lib/datamap/topojson.js" %}"></script>
    <script src="{% static "js/lib/datamap/datamaps.world.min.js" %}"></script>
    <script src="{% static "js/lib/datamap/datamap-init.js" %}"></script>

    <script src="{% static "js/lib/weather/jquery.simpleWeather.min.js" %}"></script>
    <script src="{% static "js/lib/weather/weather-init.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel-init.js" %}"></script>


    <script src="{% static "js/lib/chartist/chartist.min.js" %}"></script>
    <script src="{% static "js/lib/chartist/chartist-plugin-tooltip.min.js" %}"></script>
    <script src="{% static "js/lib/chartist/chartist-init.js" %}"></script>


</body>

</html>
