<!-- templates/login.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!--------<link rel="icon" type="image/png" sizes="16x16" href="images/favicon2.png">------>
    <title>eTouch - Virtusa</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/lib/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/helper.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!----------For Toast Messages----------------------------->
    <link href="{% static "css/iziToast.min.css" %}" rel="stylesheet">
    <script src="{% static "js/iziToast.min.js" %}"></script>
    <!---------------------------------------------------------->

    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
label.error {
    color: red;
    text-transform: unset;
    font-size: 14px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #00867B !important;
    border-color: #00867B !important;
}
.btn-primary {
    color: #fff;
    background-color: #00867B !important;
    border-color: #00867B !important;
}
</style>
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                        <img src="{% static "images/etouch-logo.png"  %}" style="width: 150px;margin:auto"  >
                            <div class="login-form">

                                <form id="loginform" method="POST">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="email" class="form-control" placeholder="Email" name="email" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                                    </div>
                                    <div class="checkbox">


                                    </div>
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static "js/lib/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "js/lib/bootstrap/js/popper.min.js"  %}"></script>
    <script src="{% static "js/lib/bootstrap/js/bootstrap.min.js"  %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "js/jquery.slimscroll.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}"></script>
    <!--stickey kit -->
    <script src="{% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "js/custom.min.js" %}"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script>
      $("#loginform").validate({
        rules: {
              email: {
                required: true,
                email: true
              },
                password: {
                  required: true,
                }
              },
              messages: {
                password: {
                  required: "Please enter a password"
                },
                email: "Please enter a valid email address"
              },
		submitHandler: function(form) {
		    checkdetails();
		}
      });
    </script>

	<script>
	function checkdetails(){
		var email = $("#email").val();
		var password = $("#password").val();
		jQuery.ajax({
		url: 'checkdetails',
		data: {'email':email,'password':password},
		success:function(data){
			if(data['status_code'] == '400'){
				iziToast.error({title: 'Error',message: 'Invalid Details',position: 'topRight'});
			}else{
				iziToast.success({title: 'Login Success',message: 'Welcome to eTouch-Virtusa',position: 'topRight'});
        location.href='dashboard'
			}
		}
		});
	}
	</script>
</body>

</html>
