{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>eTouch - Virtusa</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/lib/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="{% static "css/helper.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!----------For Toast Messages----------------------------->
    <link href="{% static "css/iziToast.min.css" %}" rel="stylesheet">
    <script src="{% static "js/iziToast.min.js" %}"></script>
    <!---------------------------------------------------------->
</head>

<style>
.page-titles {
    background: #00867b !important;
}
.text-primary {
    color: #FFFFFF !important;
}
p{
  margin-top:10px !important;
}
</style>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="JavaScript:">
                        <!-- Logo icon -->
                    <!--<img src="{% static "images/etouch-logo.png" %}" alt="homepage" class="dark-logo" />-->
                    <span><img src="{% static "images/etouch-logo.png" %}" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->

                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->

                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
<li class="nav-label">Home</li>
<li><a class="" href="{% url 'dashboard' %}" aria-expanded="false"><i class="fa fa-list"></i><span class="hide-menu">Orders</span></a></li>
<li><a class="" href="{% url 'logout' %}" aria-expanded="false"><i class="fa fa-sign-out"></i><span class="hide-menu">Logout </span></a></li>
</ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Order Details</h3> </div>

            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
              <!-- Start Page Content -->
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <div class="card">
                          <div class="card-body">
                              <div class="form-validation">
                                  <form class="form-valide" method="post" id="orderform" name="orderform">{% csrf_token %}

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="username">SRNO </label>
                                          <div class="col-lg-8">
                                              <p  id="srno" name="srno">{{ orderdetails.srno }}</p>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="isize">Inventory Size </label>
                                          <div class="col-lg-8">
                                              <p id="isize" name="isize">{{ orderdetails.inventory_size }}</p>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="dname">Device Name </label>
                                          <div class="col-lg-8">
                                              <p id="dname" name="dname">{{ orderdetails.device_name }}</p>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="dmlink">Device Market Link </label>
                                          <div class="col-lg-8">
                                              <p id="dmlink" name="dmlink" >{{ orderdetails.device_market_link }}</p>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="dmlink">Requested Date </label>
                                          <div class="col-lg-8">
                                              <p id="dmlink" name="dmlink" >{{ orderdetails.requested_date }}</p>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="skill">Order Status</label>
                                          <div class="col-lg-8">
                      {% if orderdetails.status != 'In Hand' %}
                      <select class="form-control" id="orderstatus" name="orderstatus">
                          <option value="">Please select</option>
                          <option {% if orderdetails.status == 'In Hand' %}selected="selected"{% endif %} value="In Hand">In Hand</option>
                          <option {% if orderdetails.status == 'In Transit' %}selected="selected"{% endif %} value="In Transit">In Transit</option>
                          <option {% if orderdetails.status == 'Yet to checkout' %}selected="selected"{% endif %} value="Yet to checkout">Yet To Checkout</option>
                          <option {% if orderdetails.status == 'OOS' %}selected="selected"{% endif %} value="OOS">Out of Stock</option>
                      </select>
                      {% else %}
                      <p>{{ orderdetails.status }}</p>
                      {% endif %}
                                          </div>
                                      </div>

                                      <input type="hidden" name="userid" id="userid" value="{{ request.session.userid }}" >
                                      <input type="hidden" name="orderid" id="orderid" value="{{ orderdetails.id }}" >

{% if orderdetails.status != 'In Hand' %}
    <div class="form-group row">
        <div class="col-lg-8 ml-auto">
            <button type="button" onclick="updateorderstatus();" class="btn btn-primary">Update Status</button>
        </div>
    </div>
{% endif %}


                                  </form>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <!-- End PAge Content -->





                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->

        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static "js/lib/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "js/lib/bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "js/jquery.slimscroll.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}"></script>
    <!--stickey kit -->
    <script src="{% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>
    <!--Custom JavaScript -->

    <!-- scripit init-->

    <script src="{% static "js/custom.min.js" %}"></script>


    <script src="{% static "js/lib/datamap/d3.min.js" %}"></script>
    <script src="{% static "js/lib/datamap/topojson.js" %}"></script>
    <script src="{% static "js/lib/datamap/datamaps.world.min.js" %}"></script>
    <script src="{% static "js/lib/datamap/datamap-init.js" %}"></script>

    <script src="{% static "js/lib/weather/jquery.simpleWeather.min.js" %}"></script>
    <script src="{% static "js/lib/weather/weather-init.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel-init.js" %}"></script>


    <script src="{% static "js/lib/chartist/chartist.min.js" %}"></script>
    <script src="{% static "js/lib/chartist/chartist-plugin-tooltip.min.js" %}"></script>
    <script src="{% static "js/lib/chartist/chartist-init.js" %}"></script>



	<script>
	function updateorderstatus(){
		var orderid = $("#orderid").val();
		var orderstatus = $("#orderstatus").val();
		jQuery.ajax({
		url: '../updateorder/',
    type:'post',
		data: {'orderid':orderid,'status':orderstatus},
		success:function(data){
      if(data['status_code'] == '400'){
				iziToast.error({title: 'Error',message: data['status_code'],position: 'topRight'});
			}else{
				iziToast.success({title: 'Success',message: 'Order updated successfully',position: 'topRight'});
        location.href='../dashboard'
			}
		}
		});
	}
	</script>


</body>

</html>
