{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>eTouch - Virtusa</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/lib/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="{% static "css/helper.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!----------For Toast Messages----------------------------->
    <link href="{% static "css/iziToast.min.css" %}" rel="stylesheet">
    <script src="{% static "js/iziToast.min.js" %}"></script>
    <!---------------------------------------------------------->
</head>

<style>
.page-titles {
    background: #00867b !important;
}
.text-primary {
    color: #FFFFFF !important;
}
</style>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="JavaScript:">
                        <!-- Logo icon -->
                    <!--<img src="{% static "images/etouch-logo.png" %}" alt="homepage" class="dark-logo" />-->
                    <span><img src="{% static "images/etouch-logo.png" %}" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->

                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->

                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>

<li><a class="" href="{% url 'dashboard' %}" aria-expanded="false"><i class="fa fa-list"></i><span class="hide-menu">Orders</span></a></li>
<li><a class="" href="{% url 'logout' %}" aria-expanded="false"><i class="fa fa-sign-out"></i><span class="hide-menu">Logout </span></a></li>




                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Create Order</h3> </div>

            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
              <!-- Start Page Content -->
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <div class="card">
                          <div class="card-body">
                              <div class="form-validation">
                                  <form class="form-valide" method="post" id="orderform" name="orderform">{% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="skill">Choose Project <span class="text-danger">*</span></label>
                                        <div class="col-lg-8">
                                            <select class="form-control" id="projectname" name="projectname">
                                                <option value="">Please select</option>
                                                {% for projectdata in projects %}
                                                <option value="{{ projectdata.id }}">{{ projectdata.project_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="username">SRNO <span class="text-danger">*</span></label>
                                          <div class="col-lg-8">
                                              <input type="text" class="form-control" id="srno" name="srno" placeholder="Enter SRNO..">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="isize">Inventory Size <span class="text-danger">*</span></label>
                                          <div class="col-lg-8">
                                              <input type="text" class="form-control" id="isize" name="isize" placeholder="Enter Inventory Size..">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="dname">Device Name <span class="text-danger">*</span></label>
                                          <div class="col-lg-8">
                                              <input type="text" class="form-control" id="dname" name="dname" placeholder="Enter Device Name..">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="dmlink">Device Market Link <span class="text-danger">*</span></label>
                                          <div class="col-lg-8">
                                              <input type="text" class="form-control" id="dmlink" name="dmlink" placeholder="Enter Device Market Link..">
                                          </div>
                                      </div>

                                      <input type="hidden" name="userid" id="userid" value="{{ request.session.userid }}" >


                                      <div class="form-group row">
                                          <div class="col-lg-8 ml-auto">
                                              <button type="submit" class="btn btn-primary">Submit</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <!-- End PAge Content -->





                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->

        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static "js/lib/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "js/lib/bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "js/lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "js/jquery.slimscroll.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}"></script>
    <!--stickey kit -->
    <script src="{% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>
    <!--Custom JavaScript -->

    <!-- scripit init-->

    <script src="{% static "js/custom.min.js" %}"></script>


    <script src="{% static "js/lib/datamap/d3.min.js" %}"></script>
    <script src="{% static "js/lib/datamap/topojson.js" %}"></script>
    <script src="{% static "js/lib/datamap/datamaps.world.min.js" %}"></script>
    <script src="{% static "js/lib/datamap/datamap-init.js" %}"></script>

    <script src="{% static "js/lib/weather/jquery.simpleWeather.min.js" %}"></script>
    <script src="{% static "js/lib/weather/weather-init.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel-init.js" %}"></script>


    <script src="{% static "js/lib/chartist/chartist.min.js" %}"></script>
    <script src="{% static "js/lib/chartist/chartist-plugin-tooltip.min.js" %}"></script>
    <script src="{% static "js/lib/chartist/chartist-init.js" %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script>
      $("#orderform").validate({
        rules:
        {
          projectname: {required: true},
          srno:{required:true},
          isize:{required:true},
          dname:{required:true},
          dmlink:{required:true}
        },
              messages: {
                projectname: {  required: "Please select a project" },
                srno:{required: "Please enter srno"},
                isize:{required: "Please enter Inventory size"},
                dname:{required: "Please enter Device Name"},
                dmlink:{required: "Please enter device market link"}
              },
              submitHandler: function(form) {
          		    postorder();
          		}

      });
    </script>

	<script>
	function postorder(){
		var projectname = $("#projectname").val();
		var srno = $("#srno").val();
    var isize = $("#isize").val();
    var dname = $("#dname").val();
    var dmlink = $("#dmlink").val();
    var userid = $("#userid").val();
		jQuery.ajax({
		url: '../postorder/',
    type:'post',
		data: {'project_id':projectname,'srno':srno,'device_name':dname,'device_market_link':dmlink,'inventory_size':isize,'userid':userid},
		success:function(data){
      if(data['status_code'] == '400'){
				iziToast.error({title: 'Error',message: data['status_code'],position: 'topRight'});
			}else{
				iziToast.success({title: 'Success',message: 'Order placed successfully',position: 'topRight'});
        location.href='../dashboard'
			}
		}
		});
	}
	</script>


</body>

</html>
